.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  margin-top: var(--header-height);
  margin-left: 0;
  transition: margin-left var(--transition-base);
}

@media (min-width: 1024px) {
  .main {
    margin-left: var(--sidebar-width);
  }
}
